#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: gray;
}

.logo{
  display: flex;
  justify-content: flex-start;
  border: 2px solid black;
}

.logo img{
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.titulo{

}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid black;
}
.sidebar-links{
  display: flex;
  justify-content: center;
  height: 100%;
  background: grey;
  width: 160px;
}

.sidebar-links a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

ul {
  list-style-type: none;
}